:root {
    --color-primary: #007bff;
    --color-bg: whitesmoke;
    --color-bg-light: white;
    --color-text: black;
    --color-text-danger: maroon;
}

body {
    background-color: var(--color-bg);
}

/* horizontal nav list */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    padding: 8px;
}

nav li.here a {
    background-color: var(--color-bg-light);
}

/* table styling */
td {
    vertical-align: top;
}

tr:nth-child(even) {
    background-color: var(--color-bg-light);
}

.deviation {
    color: var(--color-text-danger);
}
